---
title: About
---

We are the Saint Mary's University Computer Science and Mathematics Society.

<br/>

<a href="https://www.facebook.com/groups/519695784759020/" target="_blank" class="btn btn-primary">Join Us on Facebook</a>

<br/>